{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-info h-100px text-center" role="alert">
    <h1 >
        Votre compte a été désactivé!
    </h1>
        <h3>Veuillez contacter un administrateur</h3>
        <a href="{{ path('app_sorties') }}">retours au site</a>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

